@import "tailwindcss";

:root {
  --background: #fcfafa;
  --foreground: #262626;
}

@theme {
  --color-primary: #f03240;
  --color-secondary: #f2f2f2;
  --color-accent: #f03240;
  --color-card: #ffffff;
  --color-primary-foreground: #ffffff;
  --color-secondary-foreground: #262626;
  --color-accent-foreground: #ffffff;
  --color-primary-muted: #bfbfbf;

  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-gray-15: rgba(38, 38, 38, 0.15);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-eitai-gothic-bold: var(--font-eitai-gothic-bold);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), sans-serif;
  font-size: 16px;
}

.font-primary {
  font-family: var(--font-eitai-gothic-bold), sans-serif;
}

h1 {
  font-size: 76px;
  font-family: var(--font-eitai-gothic-bold), sans-serif;
  line-height: 100%;
}

h2 {
  font-size: 42px;
  font-family: var(--font-eitai-gothic-bold), sans-serif;
  line-height: 100%;
}

h3 {
  font-size: 32px;
  font-family: var(--font-eitai-gothic-bold), sans-serif;
  line-height: 100%;
}

h4 {
  font-size: 16px;
  font-family: var(--font-noto-sans-jp), sans-serif;
  line-height: 150%;
}

p {
  font-size: 14px;
  font-family: var(--font-noto-sans-jp), sans-serif;
  line-height: 150%;
}

.dropdown {
  font-family: var(--font-eitai-gothic-bold), sans-serif;
  font-size: 16px;
}
