@import "tailwindcss";
@source "../components/**/*.{ts,tsx}";
@import "react-phone-number-input/style.css";

:root {
    --background: #fcfafa;
    --foreground: #262626;
}

@theme {
    --color-primary: #f03240;
    --color-secondary: #f2f2f2;
    --color-accent: #f03240;
    --color-card: #ffffff;
    --color-primary-foreground: #ffffff;
    --color-secondary-foreground: #262626;
    --color-accent-foreground: #ffffff;
    --color-primary-muted: #bfbfbf;
    --color-inactive: #f2f2f2;

    --color-white-15: rgba(255, 255, 255, 0.15);
    --color-white-95: rgba(255, 255, 255, 0.95);
    --color-gray-15: rgba(38, 38, 38, 0.15);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-eitai-gothic-bold: var(--font-eitai-gothic-bold);
    --font-noto-sans-jp: var(--font-noto-sans-jp);

    --text-heading-mobile-md: 28px;
    --text-heading-mobile-base: 18px;
    --text-heading-mobile-sm: 16px;

    --text-heading-md: 42px;
    --text-heading-base: 32px;
    --text-heading-sm: 16px;

    --text-normal-lg: 24px;
    --text-normal-md: 16px;
    --text-normal-base: 14px;

    --text-normal-mobile-lg: 16px;
    --text-normal-mobile-md: 14px;
    --text-normal-mobile-base: 12px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-noto-sans-jp), sans-serif;
    font-size: 16px;
}

.font-primary {
    font-family: var(--font-eitai-gothic-bold), sans-serif;
}

.dropdown {
    font-family: var(--font-eitai-gothic-bold), sans-serif;
    font-size: 16px;
}

.legal th {
    @apply text-left p-2 border items-center;
    vertical-align: center;
}

.legal td {
    @apply p-2 border;
    vertical-align: center;
}
